.todo-header {
    margin-left: 37.5vw;
    margin-bottom: 1.5vh;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.todo {
    margin: 0 30vw;
}